/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
}

/* App container */
.App {
    text-align: center;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #0066cc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    background-color: #0066cc;
}

header h2 {
  font-size: 2.5rem;
  margin: 0;
  background-color: #505459;
}


/* Navigation styles */
nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a:hover {
    color: #ffd700;
}

/* Main content styles */
main {
    margin-top: 20px;
}

/* Button styles */
button {
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004999;
}

/* Card styles */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: left;
}

/* Form styles */
input, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, textarea:focus {
    border-color: #0066cc;
    outline: none;
}

/* Footer styles */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border-radius: 10px;
    font-size: 0.9rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
